<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\Andre\Documents\Uni\3. Semester\Softwareengineering I (Heigert)\VSProjects\StA_SE1-WS1516-BAWA\data\pizza.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <appSettings>
    <!-- Konfiguration für Pizza-Projekte -->
    <!-- 
    <add key="AccessFileName" value="C:\hm\sw1\Pizza\data\pizza.mdb"/>
    
    <add key="AccessFileName" value="\\10.28.1.29\sw1\bawa\data\pizza.mdb" />   
    <add key="AccessFileName" value="C:\Users\Andre\Documents\Uni\3. Semester\Softwareengineering I (Heigert)\VSProjects\StA_SE1-WS1516-BAWA\data\pizza.mdb"/>
      
    -->
      <!--<add key="AccessFileName" value="C:\Semester3\Software Engineering I\GitHub\Studienarbeit\data\pizza.mdb"/>-->
      <add key="AccessFileName" value="C:\Semester3\Software Engineering I\GitHub\Studienarbeit\data\pizza.mdb"/>


    </appSettings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <customErrors mode="Off" />
      <globalization uiCulture="de" culture="de-DE" />
    </system.web>

</configuration>
